@import "../bower_components/bootstrap/less/bootstrap.less";

@brand-primary: #c0392b;

.name-header {
  font-size: 60px;
}

.image-header {
  height: 300px;
  width: 100%;
  background: url(../img/ameoba.jpg) no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}
