<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

      <div class="container">
        <div class="page-header">
          <h1>
            <div class="name-header">
              <span class="firstname">ali sinan</span> <span class="lastname">köksal</span>
            </div>
          </h1>
        </div>

        <div class="row">
          <div class="col-md-4 col-lg-3">
              <img src="assets/img/ask.jpg" class="profile-image">
              <h2>Contact</h2>
              <address>
              <a href="mailto:koksal@cs.berkeley.edu">koksal@cs.berkeley.edu</a>
              <br/>
              <a href="https://github.com/koksal">GitHub</a> | <a href="https://www.linkedin.com/in/alisinankoksal/">LinkedIn</a> | <a href="https://www.instagram.com/entartete/">Instagram</a>
              <br/>
              <br/>
              387 Soda Hall MC 1776
              <br/>
              Computer Science Division
              <br/>
              University of California, Berkeley
              <br/>
              Berkeley, CA 94720-1776
              </address>
          </div>
          <div class="col-md-8 col-lg-9">

            <h2>About</h2>

            {{ content }}

            <h2>Publications</h2>

            {% for paper in site.data.publications %}
            <p>
            <div>
              {% if paper.link %}
              <a href="{{ paper.link }}" 
                 onclick="javascript: _gaq.push(['_trackPageview', '{{ paper.title }}']);">{{ paper.title }}</a>
              {% else %}
              {{ paper.title }}
              {% endif %}
            </div>
            <div>{{ paper.authors }}</div>
            <div><span class="conference">{{ paper.confLong }}{% if paper.confShort %} ({{ paper.confShort }}){% endif %}</span>, 
              {{ paper.year }}</div>
            {% if paper.slides %}
            [<a href="{{ paper.slides }}"
                onclick="javascript: _gaq.push(['_trackPageview', '{{ paper.title }} (slides)'])">slides</a>]
            {% endif %}
            {% if paper.code %}
            [<a href="{{ paper.code }}"
                onclick="javascript: _gaq.push(['_trackPageview', '{{ paper.title }} (code)'])">code</a>]
            {% endif %}
            </p>
            {% endfor %}
          </div>
        </div>
        <hr>
        {% include footer.html %}
      </div>

      {% unless site.production %}
        <script src="//localhost:35729/livereload.js"></script>
      {% endunless %}
    </body>
</html>
